nav .logo {
	width: 100% auto;
}
nav .menu {
	display: flex;
	gap: 70px;
	list-style: none;
	z-index: 100;
}

.menu li  a {
	text-decoration: none;
	color: var(--white-color);
	font-size: var(--bodyLG-text);
	font-weight: var(--weight-text);
	z-index: 100;
}

.menu-mobile {
	cursor: pointer;
	font-size: 20px;
}

.fa-xmark {
	display: none;
}

@media (max-width: 768px) {

	nav .menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 65px;
		right: 12px;
		padding: 5px;
		border-radius: 1.6rem;
		z-index: 20;
		gap: 0
	}

	.menu {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-20px);
  }
  
  .menu.open {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

	.menu li {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding-bottom: 0.5rem;
		margin-left: 1rem;
		background-color: var(--darkOrange-color);
		padding: 20px;
		z-index: 100;
	}
	
	li:first-child {
		border-top-left-radius: 1.6rem;
		border-top-right-radius: 1.6rem;
	}
	
	li:last-child {
		border-bottom-left-radius: 1.6rem;
		border-bottom-right-radius: 1.6rem;
	}
	
	li:hover {
		cursor: pointer;
		background: var(--white-color);
		transition: all .7s ease;
	}

	.menu li:hover a {
		color: var(--vibrantOrange-color);
		transition: all .7s ease;
	}
}

@media (min-width: 768px) {
	.menu a {
		font-size: 1.7rem;
		text-decoration: none;
		position: relative;
		display: block;
		padding: 5px;
		color: var(--black-color);
	 }
	
	 .menu a:hover {
		color: var(--blue1-color);
		transition: 1s;
		transform: translateY(5%);
	 }
	 
	 .menu a::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: var(--orange-color);
		z-index: 10;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.5s ease-in-out;
	 }
	 
	 .menu a:hover::before {
		transform: scaleX(1);
	 }
	}